home {
  .page-& {
    background-color: tomato;
    //min-height: calc(100vh - var(--header-height));
  }

  .content-&.layout-content {
    min-height: calc(100vh - var(--header-height));

    .content-header {
      @apply text-2xl font-extrabold;
    }

    .content-wrap {
      max-width: 900px;
    }

    .upload-container {

    }

    .input-upload {
      min-height: 15rem;
      @apply static rounded-md /*min-h-60*/;
    }

    .image-container {
      > .image-header {

      }

      > .image-wrap {
        height: calc(100% - 1.5rem);
        > .image {
          @apply object-contain max-h-full m-auto;
        }
      }
    }

    .btn-close {
      @apply text-xs text-white;
      @apply rounded-full p-1 w-5 h-5;
      @apply bg-gray-700 border-solid;

      &:hover {
        @apply bg-gray-800;
        @apply border-white border-2;
      }

      &.MuiButton-root {
        @apply min-w-0;
      }
    }

    .json-result {
      @apply border rounded-md w-full p-3;
      &:disabled {
        border-color: #7676764C;
        background-color: #D4D1D1;
      }
    }
  }
}
