test {
  page-& {
    &.border {
      @apply border-solid border-black;
    }

    .btn {
    }

    textarea {
      caret-color: palevioletred;
      caret-shape: underscore;
    }

    button:disabled {
      color: red;
      @apply cursor-not-allowed;
    }
  }
}
